@import url(https://fonts.googleapis.com/css2?family=Bayon&family=Coiny&family=Kalam:wght@300&family=Noto+Serif:ital@1&family=Playball&family=Poppins:ital,wght@1,100&family=Sail&family=Signika:wght@600&family=Source+Sans+Pro:ital,wght@1,300&display=swap>);
.plant_img{
    margin: 0;
    height: 80vh;
    width: 100vw;
    background-repeat: no-repeat;

}
.main{
        /* font-family: sans-serif;
        background: none;
        background-repeat: no-repeat;
        overflow: hidden;
        background-size: cover;
        height: auto; */

}
.content{
    margin: 2vh 15vw;
    opacity: .8;
    height: 90vh;
    border-radius: 20px;

}
.content h1{
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    line-height: 70px;
    padding: 25px;
    font-family: 'Sail', cursive;

}
.content h2{
    font-family: 'Signika', sans-serif;
    font-size: 38px;
    font-weight: 600;
    line-height: 45px;
    padding: 0px 25px;
}
.content h4,h3{
    font-family: 'Source Sans Pro', sans-serif;;
    font-size: 24px;
    line-height: 39px;
    padding: 15px 55px;
}
.content h3 ul li{
    list-style: none;
}
.content h3 ul li p {

    font-size: 24px;
    line-height: 32px;
    padding: 15px 50px;
}
@media all and (max-width:990px){
    .plant_img{
        margin: 0;
        height: 55vh;
        width: 100vw;
    }
    .content h1{
        font-size: 38px;
        line-height: 50px;
        padding: 10px;
    }
    .content h2{
        font-size: 28px;
        line-height: 35px;
        padding: 0px 10px;
    }
    .content h4,h3{
        font-size: 18px;
        line-height: 25px;
        padding: 8px 5px;
    }
    .content h3 ul li p {

        font-size: 16px;
        line-height: 24px;
        padding: 5px 9px;
    }

}

@media all and (max-width:450px){
    .plant_img{
        height: 30vh;
        width: 100vw;
    }
    .content h1{
        font-size: 38px;
        line-height: 50px;
        padding: 10px;
    }
    .content h2{
        font-size: 28px;
        line-height: 35px;
        padding: 0px 10px;
    }
    .content h4,h3{
        font-size: 18px;
        line-height: 25px;
        padding: 8px 5px;
    }
    .content h3 ul li p {

        font-size: 16px;
        line-height: 24px;
        padding: 5px 9px;
    }
}