{% extends 'dashboard/navbar.html' %}
{% block title %}Documentation {% endblock %}
{% block css %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'survey.css' %}">


{% endblock %}
{% block body %}
    {% load static %}
    <div class="survey">
        <h1 Class="typeWriter cText"><i class="redT">Sur</i><i>vey </i><i class="redT">Docu</i><i>mentation</i></h1>
        <iframe class="question" src="{% static 'PDF/Survey/Responses.pdf' %}" ></iframe>

    </div>


{% endblock %}