{% extends 'dashboard/navbar.html' %}
{% block title %}System Block Diagram {% endblock %}
{% block css %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'system-d.css' %}">


{% endblock %}
{% block body %}
    {% load static %}
    <div class="mn">
        <h1 Class="typeWriter cText"><i class="redT"> Tech</i><i>nical </i><i class="redT">Blo</i><i>ck</i><i class="redT"> Dia</i><i>gram!</i></h1>

        <img class="img-diagram" src="{% static '/Images/hardware-d.png' %}" alt="">
    </div>


{% endblock %}