{% extends 'dashboard/navbar.html' %}
{% block title %}Literature review-Sadia {% endblock %}
{% block css %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'litarature-style.css' %}">


{% endblock %}
{% block body %}
    {% load static %}
        <div class="Litrature">
        <h1 class="user"><span class="red">Litera</span>ture <span class="red">Re</span>view - Sadia</h1>
        <div class="grid-box">
            <div class="pdf-file">
                <iframe class= "pdf" src="{% static 'PDF/sadia-L1.pdf' %}" >
                </iframe>
{#                <h5> </h5>#}
            </div>
             <div class="pdf-summary">
                <h2>Review of image processing approaches fordetecting plant diseases</h2>
                <h3>Summary</h3>
                <summary>Increasing the yield and better quality of crops is the major goal of the agriculturalsector. Plantgrowth is a major requirement for farmers because it provides a pathway for their livelihood. The
                    best method for predicting and getting precise results for plant disease detection may be image
                    processing. Deep convolutional neural networks, which are the foundation of this project,
                    improve training effectiveness and accuracy. The goal is to identify various plant infections by
                    looking at pictures. We can precisely identify the plant disease by using the CNN Algorithm.
                    Currently, a lot of research is being done on how to make agriculture more productive and less
                    expensive. Early detection of plant diseases and pests increases yield while lowering costs. It is
                    advantage to use near infrared (NIR) imaging to spot plant diseases. In order to collect NIR
                    images of healthy and diseased leaves in their natural habitat, this study. Eight Convolutional
                    Neural Network (CNN) models are used to test the dataset, with train-test splits ranging from
                    10:90 to 90:10. From the 70:30 split onward, the evaluated models attained their highest training
                    and test accuracies. In every train-test split, exception outperformed all other models and
                    achieved 100% accuracy, precision, and recall in the 80:20 train-test split</summary>

                    <h3>Reference:</h3>
                    <h4><a class="links" href="https://www.researchgate.net/publication/340535335_Review_of_Image_Processing_Approaches_for_detecting_Plant_diseases">
                        <ul>
                                <li class="ref">1.Goutami G Manvi Gayana K N G Ramya Sree, Ashutosh Mishra Ankit Arora
                                </li>

                            </ul>

                    </a></h4>
            </div>
        </div>
    </div>
{% endblock %}