{% extends 'dashboard/navbar.html' %}
{% block title %}Literature review-Sadia {% endblock %}
{% block css %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'litarature-style.css' %}">


{% endblock %}
{% block body %}
    {% load static %}
        <div class="Litrature">
        <h1 class="user"><span class="red">Litera</span>ture <span class="red">Re</span>view - Sadia</h1>
        <div class="grid-box">
            <div class="pdf-file">
                <iframe class= "pdf" src="{% static 'PDF/Sadia/DenseNet_Based_Model_for_Plant_Diseases_Diagnosis.pdf' %}" >
                </iframe>
{#                <h5> </h5>#}
            </div>
             <div class="pdf-summary">
                <h2>Densenet based model for plant diseases diagnosis</h2>
                <h3>Summary</h3>
                <summary>Plant diseases pose the biggest risk to the safety of food. The biggest problem facing the
                agricultural industries is the identification of plant diseases. Computer vision problems involving
                image classification can be successfully handled by convolutional neural networks (CNN). A
                transfer learning-based model for spotting diseases in plant leaves is presented in this study. This
                paper proposes DenseNet201, a CNN classifier built on a transfer learning model. An
                examination of four deep learning models (VGG16, Inception V3, ResNet152V2, and
                DenseNet201) was conducted to determine which one is most accurate at spotting plant diseases.
                A web-based application was created to diagnose plant diseases using faulty leaf images and a
                proposed model that can both identify the disease and suggest a course of action. The used
                images dataset includes 28310 leaf photos from three different crops—tomato, potato, and
                pepper—divided into 15 different classes, including 9 classes for tomato disorders and 1 class for
                healthy conditions, 2 classes for potato disorders and 1 class for healthy conditions, and 1 class
                for pepper disorders. The proposed model, according to the results of our experiment, has the
                highest training accuracy of 99.44% and validation accuracy of 98.70%.</summary>

                    <h3>Reference:</h3>
                    <h4><a class="links" href="https://www.researchgate.net/publication/363776890_DenseNet_Based_Model_for_Plant_Diseases_Diagnosis">
                        <ul>
                                <li class="ref">Mohamed A, Abdel-Gaber S, Nasr M, Hazman M. An Intelligent Approach to Mitigate
                                                Effects of Climate Change and Insects on Crops. International Journal of Computer Science and
                                                Information Security (IJCSIS). 2020; 18(3).
                                </li>
                            <li class="ref">Venkatesh, Y N, S ST, S S, Hegde SU. Transfer Learning based Convolutional Neural Network Model for
                                        Classification of Mango Leaves Infected by Anthracnose. In: 2020 IEEE International Conference for
                                        Innovation in Technology (INOCON). 2020: 1–7
                            </ul>

                    </a></h4>
            </div>
        </div>
        <div class="grid-box-2">
            <div class="pdf-file">
                <iframe class= "pdf" src="{% static 'PDF/Sadia/Transfer_learning_for_versatile_plant_disease_reco (2).pdf' %}">
                </iframe>
            </div>
            <div class="pdf-summary">
                <h2>Review of image processing approaches for detecting plant disease</h2>
                <h3>Summary</h3>
                <summary>Increasing the yield and better quality of crops is the major goal of the agricultural sector. Plant
                    growth is a major requirement for farmers because it provides a pathway for their livelihood. The
                    best method for predicting and getting precise results for plant disease detection may be image
processing. Deep convolutional neural networks, which are the foundation of this project,
improve training effectiveness and accuracy. The goal is to identify various plant infections by
looking at pictures. We can precisely identify the plant disease by using the CNN Algorithm.
Currently, a lot of research is being done on how to make agriculture more productive and less
expensive. Early detection of plant diseases and pests increases yield while lowering costs. It is
advantage to use near infrared (NIR) imaging to spot plant diseases. In order to collect NIR
images of healthy and diseased leaves in their natural habitat, this study. Eight Convolutional
Neural Network (CNN) models are used to test the dataset, with train-test splits ranging from
10:90 to 90:10. From the 70:30 split onward, the evaluated models attained their highest training
and test accuracies. In every train-test split, exception outperformed all other models and
achieved 100% accuracy, precision, and recall in the 80:20 train-test split. </summary>
                    <h3>Reference:</h3>
                    <h4><a class="links" href="https://www.researchgate.net/publication/361204325_Plant_Disease_Detection">
                        <ul>
                                <li class="ref">1. Wang, H., Li, G., Ma, Z., et al.: ‘Application of neural networks to image recognition of plant diseases’.
2012 Int. Conf. on Systems and Informatics (ICSAI), Yantai, People;s Republic of China, 2012, pp. 2159–2164
                                </li>
                                <li class="ref">2.Pagola, M., Ortiz, R., Irigoyen, I., et al.: ‘New method to assess barley nitrogen nutrition status based
on image colour analysis: comparison with spad-502’, Comput. Electron. Agric., 2009, 65, (2), pp. 213–218</li>

                            </ul>

                    </a></h4>
            </div>
        </div>
        <div class="grid-box">
            <div class="pdf-file">
                <iframe class= "pdf" src="{% static 'PDF/Sadia/spb4.pdf' %}">
                </iframe>
            </div>
            <div class="pdf-summary">
                <h2>Technological support for detection and prediction of plant
diseases</h2>
                <h3>Summary</h3>
                <summary>Technological advancements have greatly improved the detection and prediction of plant
diseases, providing farmers with more efficient ways to manage their crops. Here are some of the
technological tools and approaches that are commonly used in this field:
Remote Sensing: Remote sensing technology, such as hyperspectral imaging, can detect subtle
changes in plant physiology caused by diseases, allowing for early detection and diagnosis.
Machine Learning: Machine learning algorithms can be trained to identify patterns and
symptoms of plant diseases from images, allowing for accurate and efficient diagnosis.
DNA-Based Methods: DNA-based methods, such as polymerase chain reaction (PCR), can be
used to detect the presence of pathogens in plant samples, enabling quick and accurate diagnosis.
Internet of Things (IoT): IoT devices can monitor various environmental factors that affect
plant health, such as temperature, humidity, and soil moisture. These devices can provide real-
time data to farmers, allowing for early detection and prevention of diseases.
Mobile Apps: Mobile apps are available that can help farmers identify and diagnose plant
diseases based on visual symptoms. These apps can also provide recommendations for treatment
and management.
Overall, technological advancements have greatly improved the detection and prediction of plant
diseases, allowing for more efficient and effective management of crops.</summary>

                    <h3>Reference:</h3>
                    <h4><a class="links" href="https://www.researchgate.net/publication/348334294_Technological_support_for_detection_a
nd_prediction_of_plant_diseases_A_systematic_mapping_study">
                        <ul>
                                <li class="ref">1.Agrios, G.N., 2005. Plant pathology. 5th Edition: Elsevier Academic Press. Burlington,
Ma. USA. pp.79–103.
                                </li>


                            </ul>

                    </a></h4>
            </div>
        </div>
        <div class="grid-box-2">
            <div class="pdf-file">
                <iframe class= "pdf" src="{% static 'PDF/Sadia/JAEBS-1.pdf' %}">
                </iframe>
            </div>
            <div class="pdf-summary">
                <h2>Smartphone Application for Deep Learning-Based Rice Plant Disease Detection</h2>
                <h3>Summary</h3>
                <summary>A magnificent herb with exceptional medicinal powers, hibiscus is one of the most well-known
herbs in Ayurveda. Vitamin C, flavonoids, amino acids, mucilage fiber, moisture content, and
antioxidants are all abundant in hibiscus. Hibiscus is effective in treating heart and nerve
conditions, cancer, bacterial infections, fever, excessive blood pressure, and other symptoms.
The task of automatically detecting leaf disease is crucial. One of the often used methods for
identifying and classifying plant leaf diseases is image processing. In this chapter, the concurrent
k-means clustering technique is used to identify the diseased leaf, after which features are
extracted. To detect the types of sick leaves, reweighted KNN linear classification algorithms
have been employed.</summary>

                    <h3>Reference:</h3>
                    <h4><a class="links" href="https://www.researchgate.net/publication/352816290_Current_Trends_In_Plant_Disease_Detection">
                        <ul>
                                <li class="ref">1.Gaganpreet Kaur, Sarvjeet Kaur, Amandeep Kaur, ―PlantDisease Detection: a Review of
Current Trends‖,International Journal of Engineering  Technology, 7 (3.34)(2018) 874-881.</li>


                            </ul>

                    </a></h4>
            </div>
        </div>
        <div class="grid-box">
            <div class="pdf-file">
                <iframe class= "pdf" src="{% static 'PDF/Sadia/Publishedpapers.pdf' %}">
                </iframe>
            </div>
            <div class="pdf-summary">
                <h2>House plant leaf disease detection and classification
using machine learning</h2>
                <h3>Summary</h3>
                <summary>A magnificent herb with exceptional medicinal powers, hibiscus is one of the most well-known
herbs in Ayurveda. Vitamin C, flavonoids, amino acids, mucilage fiber, moisture content, and
antioxidants are all abundant in hibiscus. Hibiscus is effective in treating heart and nerve
conditions, cancer, bacterial infections, fever, excessive blood pressure, and other symptoms.
The task of automatically detecting leaf disease is crucial. One of the often used methods for
identifying and classifying plant leaf diseases is image processing. In this chapter, the concurrent
k-means clustering technique is used to identify the diseased leaf, after which features are
extracted. To detect the types of sick leaves, reweighted KNN linear classification algorithms
have been employed.</summary>

                    <h3>Reference:</h3>
                    <h4><a class="links" href="https://www.researchgate.net/publication/357492960_House_Plant_Leaf_Disease_Detection_a
nd_Classification_Using_Machine_Learning">
                        <ul>
                                <li class="ref">1.Lorenzo C, Okoloise M, Williams K, Stern M, Haffner S. The metabolic syndrome as
predictor of type 2 diabetes. The San Antonio Heart Study. Diab Care 2003;26: 3153–9.
                                </li>
                                <li class="ref">2.Martins D, Tareen N, Ogedegbe G, Pan D, Norris K. The relative risk of cardiovascular death among
racial and ethnic minorities with metabolic syndrome: data from the NHANES-II mortality follow-up. J
Natl Med Assoc 2008;100:565–71.</li>

                            </ul>

                    </a></h4>
            </div>
        </div>
    </div>
    <footer class="py-4 bg-dark flex-shrink-0">
    <div class="container text-center">
      <a href="" class="text-muted"><i>Documentation: Sadia Akter & Website : Mehedi Surem</i></a>
    </div>
    </footer>
{% endblock %}