{% extends 'dashboard/navbar.html' %}
{% block title %} {% endblock %}
{% block css %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'litarature-style.css' %}">


{% endblock %}
{% block body %}
    {% load static %}
    <div class="Litrature">

        <h1 class="user"><span class="red">Litera</span>ture <span class="red">Re</span>view - Surem</h1>
        <div class="grid-box">
            <div class="pdf-file">
                <iframe class= "pdf" src="{% static 'PDF/surem-L1.pdf' %}">
                </iframe>
                <h5> I have highlighted important sections to help you understand</h5>
            </div>
            <div class="pdf-summary">
                <h2>Data Collection and Analysis Using IOT Device and Machine Learning Techniques forDisease Classification on Soybean Plant</h2>
                <h3>Summary</h3>
                <summary>Prospective yields have recently been decreased by infectious biotic and abiotic disorders by an average of 4%,
                    with many farmers in developing countries experiencing yield losses of up to 100%. Identification and treatment of plant
                    diseases are issues that affect farmers all over the world. In order to identify and assess plant illnesses from their
                    leaves and determine the number of pods on the soyabean plant, this article employs the convolution neural network (CNN)
                    model and bespoke object detection. They have gathered all the information on the symptoms of diseases that affect soybean plants,
                    including Yellow Mosaic, Soybean Rust, and Bacterial Blight. Their main data sources include web scarping and the Indian Institute of
                    Soybean Research (ICAR). Component that are used in this project are Convolution Neural network (CNN), Soybean leaf, Neural Network,
                    Sensors, Cameras. With the aid of a neural network, they have done object detection using image processing on the data to identify the type of
                    disease present on the leaf. Their model is trained on a TITAN RTX 24G GPU utilizing Keras with tensor Flow as a deep learning framework.
                    After dividing the dataset into 80 20 parts, they were able to get an Excellent highest accuracy rate of 99.56 percent with the EfficientNetB0 model
                    (80 percent data for training and 20 percent images for testing). The implemented deep-learning model offers greater prediction ability in
                    terms of both accuracy and loss when compared to other deep learning approaches.</summary>

                    <h3>Reference:</h3>
                    <h4><a class="links" href="https://www.researchgate.net/publication/361351168_Data_Collection_and_Analysis_Using_IOT_Device_and_Machine_Learning_Techniques_for_Disease_Classification_on_Soybean_Plant">
                        <ul>
                                <li class="ref">1. Arjun, K. M. (2013). Indian agriculture status, importance and role in Indian economy. 4(4), 343-346
                                </li>
                                <li class="ref">2.Dalwai, A. (2018). Report of the Committee on Doubling Farmers Income. Post-production interventions:Agricultural Marketing</li>
                                <li class="ref">3.Arora, J.; Agrawal, U. Classification of Maize leaf diseases from healthy leaves using Deep Forest.J. Artif. Intell.Syst. 2020,2</li>
                            </ul>

                    </a></h4>
            </div>
        </div>
    </div>
{% endblock %}